body    {
    font-size: 20px;
    font-family: Arial, verdana, sans-serif;
}
*   {
    box-sizing: border-box;
}
.nav    {
    position: relative;
    display: inline-block;
    width: 100% !important;
}
ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li   {
    float: left;
    background-color: green;
}
ul li a {
    display: block;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: white;
}
ul li a:hover   {
    color: rgba(255,0,0,0.7);
}
ul li ul li {
    float: none;
}
ul li ul    {
    display: none;
}
ul li:hover ul  {
    display: block;
}
.col-1  {width: 8.33%;}
.col-2  {width: 16.66%;}
.col-3  {width: 25%;}
.col-4  {width: 33.33%;}
.col-5  {width: 41.66%;}
.col-6  {width: 50%;}
.col-7  {width: 58.33%;}
.col-8  {width: 66.66%;}
.col-9  {width: 75%;}
.col-10  {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12  {width: 100%;}
[class*='col-'] {
    float: left;
    width: 100%;
    padding: 15px;
}
@media only screen and (min-width: 768px)   {
    .col-1  {width: 8.33%;}
    .col-2  {width: 16.66%;}
    .col-3  {width: 25%;}
    .col-4  {width: 33.33%;}
    .col-5  {width: 41.66%;}
    .col-6  {width: 50%;}
    .col-7  {width: 58.33%;}
    .col-8  {width: 66.66%;}
    .col-9  {width: 75%;}
    .col-10  {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12  {width: 100%;}
}
@media only screen and (min-width: 600px)   {
    .col-s-1  {width: 8.33%;}
    .col-s-2  {width: 16.66%;}
    .col-s-3  {width: 25%;}
    .col-s-4  {width: 33.33%;}
    .col-s-5  {width: 41.66%;}
    .col-s-6  {width: 50%;}
    .col-s-7  {width: 58.33%;}
    .col-s-8  {width: 66.66%;}
    .col-s-9  {width: 75%;}
    .col-s-10  {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12  {width: 100%;}
}
.row::after {
    content: " ";
    clear: both;
    display: table;
}
.grid-container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 3;
    grid-template-rows: 3;
    /*justify-content: center;
    align-content: center;
    height: 100%;*/

}
[class*="item"] {
    font-size: 25px;
}
.item1  {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.item2  {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.item3  {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.item4  {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.item5  {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.item6  {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.item7  {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
.item8  {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}
.item9  {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}
.grid-container2    {
    display: inline-grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    grid-template-area: 'myArea myArea';
}
.grid1  {
    grid-area: myArea;
    border: 1px solid black;
}
.grid2  {}
.grid3  {}
.grid4  {}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*justify-content: center;*/
    align-items: space-around;
    align-content: flex-start;
    border: 1px solid black;
    padding: 18px;
    height: auto;
    width: 100%;
    gap: 30px;

}
.circle {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 50%;
    background-image: linear-gradient(red, blue);
    transform: translateX(0);
    animation-name: magic;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-delay: .1s;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes magic {
    0% {background-image: linear-gradient(red, blue); transform: translateX(120px);}
    10% {background-image: linear-gradient(blue, red); transform: translateX(240px);}
    20% {background-image: linear-gradient(red, blue); transform: translateX(360px);}
    30% {background-image: linear-gradient(blue, red); transform: translateX(480px);}
    40% {background-image: linear-gradient(red, blue); transform: translateX(600px);}
    50% {background-image: linear-gradient(blue, red); transform: translateX(720px);}
    60% {background-image: linear-gradient(red, blue); transform: translateX(840px);}
    70% {background-image: linear-gradient(blue, red); transform: translateX(960px);},
    80% {background-image: linear-gradient(red, blue); transform: translateX(1080px);}
    90% {background-image: linear-gradient(blue, red); transform: translateX(1200px);}
}
.s-circle   {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
}
.center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding-bottom: 95px;
    font-size: 40px;
}
.shadow {
    box-shadow: 0 5px 3px 6px black;
}
@media only screen and (max-width: 600px)   {
    .circle {
        width: 100px;
        height: 100px;
    }
    .s-circle   {
        width: 50px;
        height: 50px;
    }
    .center {
        padding-bottom: 24px;
        font-size: 18px;
    }
    @keyframes magic {
    0% {background-image: linear-gradient(red, blue); transform: translateX(60px);}
    10% {background-image: linear-gradient(blue, red); transform: translateX(120px);}
    20% {background-image: linear-gradient(red, blue); transform: translateX(180px);}
    30% {background-image: linear-gradient(blue, red); transform: translateX(240px);}
    40% {background-image: linear-gradient(red, blue); transform: translateX(300px);}
    50% {background-image: linear-gradient(blue, red); transform: translateX(360px);}
    60% {background-image: linear-gradient(red, blue); transform: translateX(420px);}
    70% {background-image: linear-gradient(blue, red); transform: translateX(480px);},
    80% {background-image: linear-gradient(red, blue); transform: translateX(540px);}
    90% {background-image: linear-gradient(blue, red); transform: translateX(600px);}
}
}